main{
    display: flex;
    flex-direction: column;
}
.bio{
    display: flex;
    background-color: rgb(137, 114, 227);
    max-width: 800px ;    
    margin-left: auto;
    margin-right: auto;
}