.center{
    max-width: 30rem;
margin-left: auto;
margin-right: auto;
}

.stack-large > *+* {
   
    margin-top: 2rem;
  }
  .stack-med > *+* {
    margin-top: 1rem;
   
  }
  .stack-sm > *+* {
    margin-top: .5rem;
    display: block;
  
  }

